
body {
	font-family: 'Cherry Swash', cursive;
	background-color: #ffffff;
	width: 100%;
}


/*------content------*/
#content {
	width: 64%;
	margin-right: 18%;
	margin-left: 18%;
}
h1 {
	font-weight: bold;
	color: #c6a2d7;
}

h2 {
	font-style: italic;
	color: #d6c6a2;
	
}

p {
	font-family: sans-serif;
}

	
@media screen and (max-width: 600px) {

	body{
		width: 100%;
	}
	
	#content{
		width: 92%;
		margin-right: 4%;
		margin-left: 4%;
}

	h1,h2 {
		text-align: center;
	}

}